<%= form_with(model: user, local: true) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :user_name %>
  </div>

  <div class="field">
    <%= form.label :department %>
    <%= form.text_field :department, id: :user_department %>
  </div>

  <h3> Assign to class </h3>

  <%= hidden_field_tag "user[class_group_ids][]", nil %>
  <% ClassGroup.all.each do |class_group| %>
    <p>
      <div class="inline-field">
        <%= check_box_tag "user[class_group_ids][]", class_group.id, @user.class_group_ids.include?(class_group.id), id: dom_id(class_group) %>
        <%= label_tag dom_id(class_group), class_group.name %>
      </div>
    </p>
  <% end %>



  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
