<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">
  <Worksheet ss:Name="Sheet1">
    <Table>
      <Row>
        <Cell><Data ss:Type="String">Last Name</Data></Cell>
        <Cell><Data ss:Type="String">First Name</Data></Cell>
        <Cell><Data ss:Type="String">Set</Data></Cell>
        <Cell><Data ss:Type="String">Paper</Data></Cell>
        <Cell><Data ss:Type="String">Question</Data></Cell>
        <Cell><Data ss:Type="String">Max Score</Data></Cell>
        <Cell><Data ss:Type="String">Student Score</Data></Cell>
      </Row>
    <% @results.each do |result| %>
      <Row>
        <Cell><Data ss:Type="String"><%= result.student.last_name %></Data></Cell>
        <Cell><Data ss:Type="String"><%= result.student.first_name %></Data></Cell>
        <Cell><Data ss:Type="String"><%= result.student.class_group.name %></Data></Cell>
        <Cell><Data ss:Type="String"><%= result.question.paper.name %></Data></Cell>
        <Cell><Data ss:Type="String"><%= result.question.question_number %></Data></Cell>
        <Cell><Data ss:Type="Number"><%= result.question.max_score %></Data></Cell>
        <Cell><Data ss:Type="Number"><%= result.score %></Data></Cell>
      </Row>
    <% end %>
    </Table>
  </Worksheet>
</Workbook>
